.HeadingGrey {
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6e6e6e;
    font-weight: 200;
}

.SubHeadingGrey {
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6e6e6e;
    font-weight: 200;
}

.centerText {
    text-align: center;
}

.headerPadding {
    padding-top: 1%;
}

.topPadding {
    padding-top: 2%;
}

hr {
    border-top: 2px dashed #8d8f8e;
}