.ant-table-thead > tr > th{
    color: white;
    background-color: #29245C;
    font-size: medium;
}

.ant-table-thead > tr.ant-table-thead-level-1:hover > th {
    background-color: unset;
}

.ant-table-thead > tr :hover{
    color: black;
    background-color: #f8f4f4;
}
