.login {
    background-image: url('../assets/Login-bckg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1275px) {
    .login {
        background-image: url('../assets/backg1275.svg');
    }
  }