.LoginBody {
    background-image: url('../assets/Login-bckg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    height: 100%;
    width: 100%;
}

.LandingBody {
    background-image: url('../assets/Landing-Page-Double-Blob.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 330%;
    width: 100%;
    position: absolute;
}


.cardStyling {
    width: "90%";
    height: "70%";
}


.cardPadding {
    padding-left: 0%;
    padding-top: 8%;
}

.cardAlignment {
    justify-content: left;
    vertical-align: middle;
    padding-top: 12%;
}

/* .coTeachAlignment {
    justify-content: left;
    vertical-align: middle;
    padding-top: 35%;
} */

.coTeachPadding {
    padding-left: 0%;
    padding-top: 25%;
}

.centerText {
    text-align: center;
}

.Cardcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.logoPadding {
    padding-bottom: 5%;
}

.radioPadding {
    padding-top: 3%;
}

.coTeachWordsPadding {
    padding-top: 5%;
}

/* br {
    display: block;
    content: "";
    margin-top: 20%;
} */

.landingGaps {
    margin-top: 8%;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #d6d6d6;
  border: 0px;
  border-radius: 2px;
  border-color: white;
}
  [data-theme="dark"] .site-collapse-custom-collapse .site-collapse-custom-panel {
    background: rgba(255,255,255,0.04);
    border: 0px;
  }

.ant-collapse-content {
    background-color: #ececec;
    color: black;
}


@media only screen and (max-width: 1000px) {
    .LoginBody {
        background-image: url('../assets/backg1275.svg');
    }

    .LandingBody {
        background-image: url('../assets/LandingPage-Mobile-View.svg');
    }

    .cardAlignment {
        justify-content: center;
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    .cardPadding {
        padding-left: 0%;
        padding-top: 5%;
    }

    .cardStyling {
        width: "10%";
        height: "10%";
    }

    .FAQMargin {
        margin-left: 5%;
        margin-right: 5%;
    }
  }


@media only screen and (max-width: 575px) {
.LoginBody {
    background-image: url('../assets/backg1275.svg');
}

.LandingBody {
    background-image: url('../assets/LandingPage-Mobile-View.svg');
}

.cardAlignment {
    justify-content: center;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.cardPadding {
    padding-left: 0%;
}

.cardStyling {
    width: "100%";
    height: "100%";
}



/* .coTeachPadding {
    padding-left: 0%;
    padding-top: 25%;
    margin-left: 15%;
} */
}